
/* Your CSS Code here. */
.holder{

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    

}
        .first{
            background-color: red;
            width: 500px;

        }
        .second{
            background-color: blue;
            width: 300px;
        }
        